
/* Estilos SASS */
$colorFisio1: #96aedd;
$colorFisio2: #23315e;


@import "layoutGeneral";
@import "bootstrap";
@import "galeria";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Aplicando mixin */
@mixin estiloFuente1($tamaño) {
    color: white;
    font-size: $tamaño;
}

body {
    background: $colorFisio1;
    @include estiloFuente1(30px);
}

p {
    margin-left: 40px;
}

h1 {
    @include estiloFuente1(90px);
    margin-bottom: 20px;
    margin-left: 40px;
}

/* Diseño de páginas hecho con Grids */

.contenedor > div,
.contenedor .contenido
.contenedor .sidebar
.contenedor .footer {
    background:#fff;
    padding: 20px;
    border-radius: 4px;
}


/* Responsive disposición de páginas*/

@media screen and (max-width: 768px){
    .contenedor {
        grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "sidebar sidebar sidebar"
                        "footer footer footer";
    }
}

